
  /* Navbar  */
.nav{
  background-color: #474547;
  padding:4px 6px;
}
.navbarLeft{
  width: 80%;
}
.navbarRight{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.navButtons{
  background-color: #2c292f;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0.2em 0.2em;
}


.navButtons:hover{
  color: white;
  background-color: #9c9c9c;
  
}
/* header Componet */
.headerContainer{
  position: relative;
}
.headerText{
  position: absolute;
  bottom: 0;
  top:50%;
  left:25%;
  right:0;
  width: 60%;
  display: flex;
  justify-content: center;
}
 /* Modular Part */
.modularContainer{
  /* margin-top: 0.5rem; */
  padding: 1rem 2rem;
}
.modularContainer h1{
  font-family: 'Secular One', sans-serif;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(247, 240, 240);
}
.modularCard{
  display: flex;
  padding: 1rem;
}
.reachCard{
  width: 33.333%; 
  margin: 0rem 0.5rem;
  background-color: rgb(247, 240, 240);
}
/* News Part */
.newsParentContainer{
  padding:0rem 2rem;
}
.newsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.newsCard{
  display: flex;
  margin-top: 0.5rem;
  width: 100%;
  background-color: rgb(247, 240, 240);
}

.newsImage{
  display: flex;
  justify-content: center;
  align-items: center;
    width: 30%;
    margin: 1em 5%;
}
.newsImage img{
  box-shadow: 0px 0px 5px 2px black; 
}

.newsContent{
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
    width:70%;

    font-family: cursive;
    padding: 0.9rem 0.9rem;
}

.newsHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Secular One', sans-serif;
  padding: 1rem 1rem;
  background-color: rgb(247, 240, 240);
}

/* Footer */
.footer{
  background-color: #2c292f;
  display: flex;
}
.leftFooter{
  margin: 1em 1em;
  width: 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.midFooter{
  width: 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1em 1em;
}
.rightFooter{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 33%;
  margin: 1em 1em;
}
.cautionFooter{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Modular  */
.contentCard{
  background-color: lightgrey;
  padding: 0.5em 0.5em;
  height :300px;
}

@media(max-width:990px){
  .contentCard{
    height:350px;
  }
}

@media(max-width:840px){
  .contentCard{
    height:400px;
  }
}

@media(max-width:780px){
  .modularCard{
    flex-direction: column;
  }

  .reachCard{
    width: 100%;
    margin-top: 0.5rem;
  }

  .contentCard{
    height: auto;
  }

  .footer{
    flex-direction: column;
  }

  .leftFooter{
      width:100%;
     
     
      justify-content: center;
  }

  .midFooter{
    width:100%;
    display: flex ;
   flex-direction: column;
   align-items:center;
    justify-content: center;

  }

  .rightFooter{
    width:100%;

    display: flex ;
    flex-direction: column;
   align-items:center;
   
    justify-content: center;
  }

  .aboutusText{
    font-size:10px;
  }
}


@media(max-width:720px){
  .newsCard{
    flex-direction: column;
    align-items: center;
  }

  .newsImage{
    width: 70%;
  }

  .evenNews_div1{
    order:2;
  }

  .evenNews_div2{
    order:1;
  }

  .newsContent{
    width: 100%;
  }
}



/* Complaint Card */

.complaintHeader{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.complaintHeaderCreate{
width: 25%;
}
.complaintHeaderHeading{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.iconComplaint{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.upperComplaint{
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconFullComplaint{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.boxFullComplaint{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.halfBoxComplaint{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.complaintCards{
  width: 100%;
  padding: 10px 10px ;
}
.complaintCard{
  width: 100%;
  box-shadow: 2px 2px 2px black;
  margin: 1em 1em;
}
.complaintUser{
  box-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.complaintDepartment{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px black;
}

.complaintSubject{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px black;
}
.complaintDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px black;
}

.gridContainer{
  display :grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  width: 100%;

}

.gridChild{
  width:100%;
}

/* Box child */
/* .createEditComplaint{
  margin: 2em 1em;
  height: 100vh;
  border: 2px solid red;
  color: red;
} */
.boxChild{
  background-color: rgb(247, 240, 240);
  box-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxLeftWrapper{
  width: 25%;
  margin: 1em 1em;
}
.boxRight{
  width: 74%;
  margin: 1em 1em;
}
.boxbtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallBoxChild{
  background-color: white;
  box-shadow: 2px 2px 2px black;
  padding: 0em 0.5em;
}
.lakeer{
  border: 2px solid black;
  height: 33vh;
}

/*  Create Form  */
.createForm{
  max-width: 786px;
  margin: auto;
}
.createHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em;
  font-family: cursive;
  background-color: royalblue;
}
.formGroup{
  width: 100%;
  padding: 0.6em 1em ;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: sans-serif;
  font-size: 1em;
  border-radius: 0.4em;
}
.createSubmit{
  width: 100%;
  padding: 0.9em 1em;
  background-color: royalblue;
  border: none;
  font-family: sans-serif;
  font-size: 1em;
  cursor: pointer;
  border-radius:0.2em ;
  margin: 0.5em 0;
}
.labelCreate{
  font-family: sans-serif;
  font-size: 1em;
  margin: 0.5em 0em;
}
.formGroup input{
  margin: 0.4em 1em;
}
.formGroup textarea{
  margin: 0.4em 1em;
}

.formGroup label{
  font-family: sans-serif;
  font-size: 1em;
}

/* child */
.dltButton :hover{
  
  cursor: pointer;
  color: blue;
}

/* Login */
.login{
  height:70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.loginWrapper{
  box-shadow: 0px 0px 5px 2px black;
  padding: 50px 50px;
}
.loginTitle{
}
.loginButton{
  background-color: #df4930;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  padding:px 5px;
}
.loginTitle{
  margin: 0.5em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.0em;
  color: white;
}
.loginLogo{
  color: white;
  font-size: 2.0em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}
.loginHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.loginHeader2{
  margin: 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.modularImage{
  box-shadow: 0px 0px 5px 2px black;
}