.headerContainer{
  position: relative;

}

.headerText{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
 /* Modular Part */
.modularContainer h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(247, 240, 240);
}
.modularCard{
  display: flex;
}

.reachCard{
  width: 33%;
  margin: 4px 8px;
  background-color: rgb(247, 240, 240);
}

/* News Part */

.newsContainer{
  display: flex;
  flex-direction: column;
}

.newsCard{
  display: flex;
  width: 100%;
  margin: 4px 8px;
  background-color: rgb(247, 240, 240);
}

.newsImage{
  display: flex;
  justify-content: center;
  align-items: center;
    width: 30%;
    margin: 1em 5%;
    box-shadow: 2px 2px 2px black;
}

.newsContent{
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
    width:70%;
    margin: 1em 5%;
    font-family: cursive;
    padding: 0.5em 0.5em;
}

.newsHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(247, 240, 240);
}

/* Footer */
.footer{
  background-color: #2c292f;
  display: flex;
}
.leftFooter{
  margin: 1em 1em;
  width: 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.midFooter{
  width: 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1em 1em;
}
.rightFooter{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 33%;
  margin: 1em 1em;
}
/* Modular  */
.contentCard{
  background-color: lightgrey;
  padding: 0.5em 0.5em;
}



/* Complaint Card */

.complaintCards{
  width: 100%;
  padding: 10px 10px ;
}
.complaintCard{
  width: 100%;
  box-shadow: 2px 2px 2px black;
  margin: 1em 1em;
}
.complaintUser{
  box-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.complaintDepartment{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px black;
}

.complaintSubject{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px black;
}
.complaintDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px black;
}

.gridContainer{
  display :grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  width: 100%;

}

.gridChild{
  width:100%;
}

/* Box child */
.boxChild{
  background-color: rgb(247, 240, 240);
  box-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxLeftWrapper{
  width: 25%;
  margin: 1em 1em;
}
.boxRight{
  width: 74%;
  margin: 1em 1em;
}
.boxbtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallBoxChild{
  background-color: white;
  box-shadow: 2px 2px 2px black;
  padding: 0em 0.5em;
}
.lakeer{
  border: 2px solid black;
  height: 33vh;
}

/*  Create Form  */
.createForm{
  max-width: 786px;
  margin: auto;
}
.createHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 1em;
  font-family: cursive;
  background-color: royalblue;
}
.formGroup{
  width: 100%;
  padding: 0.6em 1em ;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: sans-serif;
  font-size: 1em;
  border-radius: 0.4em;
}
.createSubmit{
  width: 100%;
  padding: 0.9em 1em;
  background-color: royalblue;
  border: none;
  font-family: sans-serif;
  font-size: 1em;
  cursor: pointer;
  border-radius:0.2em ;
  margin: 0.5em 0;
}
.labelCreate{
  font-family: sans-serif;
  font-size: 1em;
  margin: 0.5em 0em;
}
.formGroup input{
  margin: 0.4em 1em;
}
.formGroup textarea{
  margin: 0.4em 1em;
}

.formGroup label{
  font-family: sans-serif;
  font-size: 1em;
}